/* DECLARACIÓN DE VARS */

$yellow: rgb(206, 119, 5);
$red: rgb(255, 0, 0);
$black: rgb(0, 0, 0);
$black_2px: 2px 2px 2px rgb(0, 0, 0);
$back_rojo: url(../assets/fondo_rojo_menu.jpg);
$back_negro: url(../assets/fondo_4.jpg);
$back_portada: url(../assets/fondo_5.jpg);


/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* PROPIEDADES GENERALES */

html{
	font-size: 1.2rem;
}

body {
    font-weight: bold;
    font-style: normal; 
    font-family: 'Fredoka One', cursive;
    overflow-x: auto;
    color: $yellow;
    letter-spacing: 1px;
    line-height: auto;
}

a{
    text-decoration: none !important;
    color: $yellow !important;
    text-shadow: $black_2px;
}

/* PROPIEDADES GENERALES DEL GRID */

.container {
    display: grid;
    text-align: center;
    grid-template-areas: "intro" "section" "footer";
}

/* CONTENEDOR DE PORTADA SIN INCLUIR EL MENU DE ICONOS */

.intro {
    grid-area: intro;
    height: auto;
    background-image: $back_portada;
    background-color: $black;
    background-position: center center;
    background-size: cover;
    .header__menu {
        position: relative;
        top: -20px;
        right: 0px;
        display: flex;
        justify-content: flex-end; 
    }

    /* MENU NAV */
    
    ul {
        list-style: none;
        font-size:0; 
        li {
            display: inline-block;
            box-sizing: border-box;
            font-size: 0.9rem;
            text-shadow: $black_2px;
            text-align: center;
            padding: 8px;
            a {
                color: #fff !important;
                &:hover {
                    color: $yellow !important;
                }
            }
        
        }
    }
    
    /* BUSCADOR */
    
    .header__buscador {
        position: relative;
        top: 65px;
        left: 60px;
        display: inline-block; 
        input {
            height: 35px;
            font-weight: normal;
            font-style: normal; 
            font-family: 'Fredoka One', cursive;
            font-size: 1.2rem;
            color: $yellow;
            background-image: $back_rojo;
            background-color: $red;
            background-position: center center;
            background-size: cover;
            position: relative;
            border-radius: 40px; 
            border: 5px inset $black;
        }
    }
    
    .header__buscador--texto {
        width: 270px;
    }
    
    
    .header__buscador--boton {
        width: 100px; 
    }
    
    /* ICONO DE HEADER */
    
    .header__icono {
        padding:5px;
        border-radius: 100px;
        height: 100px;
    
    }
    
    .navbar-toggler{
        background-color:$yellow;
    }

    /* PORTADA */
    
    .portada__titulo {
        font-size: 1rem; 
        font-weight: normal; 
        font-style: normal; 
        font-family: 'Permanent Marker', cursive;
        color: white;
        text-align: left;
        margin-top: 0px;
        padding: 5px;
        text-shadow: 5px 5px 5px $black;
    }
    
    
    .portada__boton {
        background-image: $back_rojo;
        background-color:$red;
        font-size: 0.8rem;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        border-radius: 10px;
        border: 5px inset $black;
        left: 25px;
        margin-left: 5px;
        margin-bottom: 15px;   
    }
}





/* CONTENEDOR DE EL MENU DE ICONOS + FOOTER + DERECHOS */


.contenedor2 {
    background-color: $red;
    background-image: $back_rojo;
    /* width: 100%; */
    background-size: cover;
    .section {
        grid-area: section;
        width: 100%;
        border-top: 10px dashed $yellow;
        border-bottom: 10px dashed $yellow;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    
    .menu__item {
        height: 250px;
        display: inline-block;
        position: relative;
        padding: 10px;
        overflow: hidden;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        background-image: $back_negro;
        background-size: cover;
        background-color: $black;
        background-position: center center;
        border-radius: 20px;
        h4 {
            font-size: 0.8rem;
            padding:5px;
        }
        p {
            height: 100px;
            overflow: hidden;
            font-size: 0.8 rem;
            color: $yellow;
            text-shadow: $black_2px;
        }
    }
}

.footer {
    grid-area: footer;
    padding: 0px;
    margin: 0px ;
    .contenedor3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-image: $back_negro;
        background-size: cover;
        background-color: $black;
        background-position: center center;
        position: relative;
        border-bottom: 10px dashed $yellow;
        h3 {
            margin-top: 10px;
            font-size: 1.4rem; 
            padding: 20px;
            text-align: center;
        }
        .footer__donde {
            text-align: left;
            overflow: hidden;
            font-size: 0.8rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            vertical-align: middle;
            align-items: center;
        }
        
        .footer__donde--texto {
            padding: 10px;
            text-align: left;
            vertical-align: middle;
            width:30%
        }
        
        .footer__maps {
            padding: 20px; 
            iframe {
                width: 100%;
                height: 200px;
                border-radius: 20px;
                padding: 10px; 
            }
        } 
        
        .footer__redes {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            display: flex;
            flex-wrap: wrap;
            img {
                padding:10px;
                border-radius: 100px;
                height: 50px;
            
            }
            a {
                color: $yellow;
                display: inline-block;
            }
        }
        
        .footer__spotify {
            padding:10px ;
            iframe {
                border-radius: 20px;
            }
        } 
        
    } 
    .footer__derechos {
        background-color: $red;
        background-image: $back_rojo;
        background-size: cover;
        font-size: 0.8rem;
        height: auto;
        h5 {
            padding-left: 10px;
            padding-top: 10px;
        }
        p {
            margin-bottom: 0px;
            padding: 10px;
        }
    }
}




/* PARA IPAD Y SIMILAR */

@media (min-width: 480px) and (max-width: 1024px) {

    li {
        font-size: 1.1rem;
        padding: 8px;
    }


    .header__buscador {
        top: 65px;
        left: 180px;
        display: inline-block; 
    }

    .portada__titulo {
        font-size: 1.2rem; 
        top: 60px;
        padding: 25px;
    }

    .portada__boton {
        top: 60px;  
    }

    .menu__item {
        width: 350px;
    }

}

@media (min-width: 1025px) and (max-width: 1199px) {

    li {
        font-size: 1.1rem;
        padding: 16px;
    }


    .header__buscador {
        top: 65px;
        left: 350px;
        display: inline-block; 
    }

    .header__icono img {
        height: 135px;
        left: 5px;
        top: 5px;
    }

    .portada__titulo {
        font-size: 1.2rem; 
        top: 40px;
        padding: 25px;
    }

    .portada__boton {
        top: 40px;  
    }

    .menu__item {
        width: 250px;
    }

    .section {
        height: 300px;
        border-top: 10px dashed $yellow;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer {
        height: 400px;
    }
}

@media (min-width: 1200px) {

    li {
        font-size: 1.3rem;
        padding: 30px;
    }

    .header__buscador {
        top: 100px;
        left: 720px;
        display: inline-block; 
    }

    .header__icono img {
        height: 155px;
        left: 5px;
        top: 5px;
    }

    .portada__titulo {
        font-size: 1.3rem; 
        top: 0px;
        padding: 25px;
    }

    .portada__boton {
        top: 0px;  
    }

    .menu__item {
        width: 250px;
    }

    .section {
        height: 300px;
        border-top: 10px dashed $yellow;
        display: flex;
    }

    .footer {
        height: 400px;
    }
}

/* PAGINA DE MENU */

.body2 {
    background-image: $back_negro;
    background-size: cover;
    background-color: $black;
    background-position: center center;
    position: relative;
}

.main__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img {
    height: 50vh;
    width: 50vh;
    padding:10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


/* PAGINA DE NOSOTROS */


.main__nosotros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding:30px;
}

.texto {
    display: inline-block;
}

.profile__imagen {
    display: inline-block;
    padding: 20px;
}

.profile__imagen img{
    border-radius: 20px;
}


/* PAGINA DE GALERÍA */

.carousel-item img {
    width: 50vh !important;
    margin:auto;
}

.carousel-item h5 {
    color: $black;
}